* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;

  line-height: 1.5;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3586ff;
  overflow: hidden;
}
section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
/* mycode */
.main {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 20rem ;
  margin-top: 10rem;
  width: 90%;
}
@media screen and (width>900px) {
  .box {
    margin: 20rem;
    width: 45rem;
  }
}
h1 {
  font-size: 2rem;
}
/* top */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0rem 1rem;
}
.top span {
  font-weight: 500;
  font-size: 1rem;
}
/* middle */
.middle {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.secretbox {
  background-color: #007bff;
  width: 15rem;
  height: 14rem;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  color: #fff;
}
/* .btton */
.down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  width: 100%;
}
.guess_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.decress,
.incress {
  width: 3rem;
  font-size: 3rem;
  color: #002edd;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
.decress {
  padding-bottom: 1rem;
  font-size: 3.5rem;
}
.number {
  text-align: center;
  font-size: 2rem;
  outline: 0;
  border: 0;
  width: 5rem;
}
.guess_part {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.guess_part span {
  font-size: 1rem;
  padding: 0.3rem 1rem;
}
.score_part {
  max-width: 100%;
}
.score_part h1 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.score_part h2,
.score_part span {
  font-size: 1.2rem;
  font-weight: 500;
  width: 15rem;
}

.party {
  width: 0;
  height: 0;
}

/* buttonnn */
/* From Uiverse.io by elijahgummer */
.down .btn {
  padding: 0.475em 1em;
  font-weight: 600;
  width: 90%;
  display: flex;
  justify-content: center;
}
.btn {
  font: inherit;
  background-color: #007bff; /* Changed to blue */
  border: 0;
  letter-spacing: 0.2rem;
  color: #fff; /* Adjusted the text color to white for better contrast */
  border-radius: 0.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  padding: 0.375em 1em;

  /* text-shadow: 0 0.0625em 0 #fff; */
  box-shadow: inset 0 0.0625em 0 0 #6ea4ff, 0 0.0625em 0 0 #5c93ff,
    0 0.125em 0 0 #4a82ff, 0 0.25em 0 0 #3871ff, 0 0.3125em 0 0 #2660ff,
    0 0.375em 0 0 #144fff, 0 0.425em 0 0 #023eff, 0 0.425em 0.5em 0 #002edd;
  transition: 0.15s ease;
  cursor: pointer;
}

.btn:active {
  opacity: 0.8;
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #6ea4ff, 0 0.03em 0 0 #5c93ff,
    0 0.0625em 0 0 #4a82ff, 0 0.125em 0 0 #3871ff, 0 0.125em 0 0 #2660ff,
    0 0.2em 0 0 #144fff, 0 0.225em 0 0 #023eff, 0 0.225em 0.375em 0 #002edd;
}
